
nav > a:first-child {
    font-weight: bold;
}

nav > a:hover {
    color: red;
}

nav > a[class="active"] {
    background-color: lightblue;
}

nav > a {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}